h1, h2, h3, h4, h5, h6{
	color: purple;
	font-family: sans-serif;
}

#scoreBoard{
	border: 1px black solid;
	text-align: center;
}

#scoreBoard thead {
	color: blue;
}

#teamRoster li{
	list-style: square;
}

#checkbox-grid li{
	list-style: none;
}


a:hover.hyperLink {
	color: red;
	background: yellow;
	text-decoration: none;

}

blockquote {
	background: black;
	color: white;
}

ul#teamRoster > li:first-child {
	background-image: url(https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg);
	background-repeat: no-repeat;
	background-size: 180px 120px;
	background-opacity: 0.5;
	
}

ul#teamRoster > li:last-child {
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg);
	background-repeat: no-repeat;
	background-size: 160px 90px;
	
}

ul#teamRoster li img, ul#teamRoster li br {
	display: none;
}

