h1, h2, h3, h4, h5, h6{
	color: purple;
	font-family: sans-serif;
}

#scoreBoard{
	border: 1px black solid;
	text-align: center;
}

#scoreBoard thead {
	color: blue;
}

#teamRoster li{
	list-style: square;
}

#checkbox-grid li{
	list-style: none;
}


a:hover.hyperLink {
	color: red;
	background: yellow;
	text-decoration: none;

}

blockquote {
	background: black;
	color: white;
}

/*
ul#teamRoster > li:first-child {
	background-image: url(https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg);
	background-repeat: no-repeat;
	background-size: 180px 120px;
}
*/

ul#teamRoster > li:first-child {
	width: 300px;
	height: 180px;
	display: block;
	position: relative;
}

ul#teamRoster > li:first-child::after {
 	content: "";
  	background: url(https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg);
  	background-repeat: no-repeat;
  	opacity: 0.5;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	position: absolute;
  	z-index: -1;
}

/*
ul#teamRoster > li:last-child {
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg);
	background-repeat: no-repeat;
	background-size: 160px 90px;
	
}
*/

ul#teamRoster > li:last-child {
	width: 240px;
	height: 130px;
	display: block;
	position: relative;
}

ul#teamRoster > li:last-child::after {
 	content: "";
  	background: url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg);
  	background-repeat: no-repeat;
  	opacity: 0.5;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	position: absolute;
  	z-index: -1;
}

ul#teamRoster li img, ul#teamRoster li br {
	display: none;
}

ul#teamRoster li ul li ol li:first-child {
	font-weight: bold;
}

table thead tr {
	background-color: lightgray;
}

table tfoot tr {
	background-color: lightblue;
}

table tbody tr:nth-child(odd) {
	background-color: lightblue;
}

table tbody tr:nth-child(even) {
	background-color: lightgray;
}

